*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #2F1893 ;
    padding: 30px 130px;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
}
.Awesome-header{
    color: #ffffff;
    display: flex;
}
.list-box li a{
    color: #ffffff;
    text-decoration: none;
}
.left-header{
    width: 100%;
    font-size: 24px;

}
.right-header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
}
.list-box{
    display: flex;
    gap: 20px;
    list-style: none;
}
.Pbutton{
    background-color: #E93A7D;
    color: #FFFFFF;
    padding: 8px 25px; 
    border-radius: 100px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.over{
    font-size: 18px;
    opacity: 30%;
}
.Awesome-header i{
    display: none;
}
main{
    display: flex;
    padding-top: 3rem ;
    align-items: center;
}
.section-right, .section-left{
    width: 100%;
}
.section-h2{
    font-size: 58px;
    color: #ffffff;
    width: 80%;
    padding-bottom: 20px;
}
.section-left p{
    font-size: 22px;
    color: #ffffff;
    width: 350px;
    padding-bottom: 30px;
}

form{
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #EBEAED;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 85%;
}

form h2{
    font-size: 42px;
    color: #1E0E62;
}
.input{
    width: 100%;
    border: 2px solid #EBEAED;
    border-radius: 100px;
    background-color: inherit;
    padding: 15px 20px;
    outline: none;
    
}
input::placeholder{
    font-size: 18px;
    color: #15143966;
}

.section-right{
    display: flex;
    justify-content: flex-end;
}
label{
    font-size: 16px;
    color:#15143966;
}
.Sbtn{
    background-color: #482BE7;
    border-radius: 100px;
    border: none;
    padding: 20px;
    font-size: 18px;
    color: #FFFFFF;
}
.Lbtn{
    background-color: #1DA1F2;
    border-radius: 100px;
    border: none;
    padding: 20px;
    font-size: 18px;
    color: #FFFFFF;
}
.do{
    color: #15143966;
    font-size: 18px;
}
#sign{
    font-size: 18px;
    color: #25DAC5;
    padding-left: 10px;
}
.rule{
    display: flex;
    align-items: center;
    gap: 20px;
}

hr{
    border: 2px solid#EBEAED;
    height: fit-content;
    width: 100%;
}





@media (min-width: 700px) and (max-width: 950px){
    body{
        padding: 30px;
    }
    form{
        width: 100%;
        padding: 2.5rem;
    }
}

@media (max-width: 600px) {
    body{
        padding: 30px 15px;
    }

    .right-header{
        display: none;
    }

    .Awesome-header i {
        display: block;
    }
    main{
        flex-direction: column;
    }
    .section-h2{
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    .section-left p{
        width: 100%;
        font-size: 17px;
    }
    main{
        gap: 20px;
    }
    form{
        width: 100%;
        padding: 20px;
    }
    form h2{
        font-size: 30px;
    }
}
